<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change your book</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/inventory-management.css" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/asset/image/falvicon_official-removebg-new.png">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto+Serif:opsz,wght@8144,400;8144,500;8144,600&display=swap"
        rel="stylesheet" />

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="d-flex main-vp">
        <!-- Side menu start-->
        <div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-light fixed-top" style="width: 280px;">
            <div class="d-flex justify-content-between align-items-center">
                <a href="/owner/<%= owner.id %>/profile"
                    class="d-flex align-items-center link-dark text-decoration-none">
                    <img src="data:<%= owner.profile_picture.mimeType %>;base64,<%= owner.profile_picture.data.toString('base64') %>"
                        alt="" width="45" height="45" class="rounded-circle me-2">
                    <div>
                        <span class="text-secondary">Hello,</span>
                        <br>
                        <strong class="fs-5">
                            <%= owner.username %>
                        </strong>
                    </div>
                </a>
                <a href="/" class="bi bi-box-arrow-right text-secondary fs-5"></a>
            </div>
            <br>
            <br>
            <div class="earning">
                <span class="text-secondary">Earning</span>
                <br>
                <span class="fs-2"><strong>$12,560.55</strong></span>
            </div>
            <br>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item home">
                    <a href="/owner/<%= owner.id %>/dashboard" class="nav-link text-black fs-5">
                        <i class="bi bi-reception-4 me-2 fs-4"></i>
                        <strong>Dashboard</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/owner/<%= owner.id %>/order" class="nav-link text-black fs-5">
                        <i class="bi bi-list-check me-2 fs-4"></i>
                        <strong>Orders <span class="noti ms-2">3</span></strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/owner/<%= owner.id %>/inventory#product-page" class="nav-link selected text-black fs-5">
                        <i class="bi bi-box-seam me-2 fs-4"></i>
                        <strong>Products</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/owner/<%= owner.id %>/announcement" class="nav-link text-black fs-5">
                        <i class="bi bi-megaphone me-2 fs-4"></i>
                        <strong>Announcements </strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/owner/<%= owner.id %>/inquiry" class="nav-link text-black fs-5">
                        <i class="bi bi-envelope me-2 fs-4"></i>
                        <strong>Inquiries</strong>
                    </a>
                </li>
            </ul>
            <div class="logo-container ">
                <a href="/owner/<%= owner.id %>/profile"
                    class="d-flex justify-content-between align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
                    style="width: 250px;">
                    <img src="/asset/image/logo-strong-text.svg" alt="brand-logo">
                </a>
            </div>
        </div>
        <div class="sidebar-toggler">
            <i class="bi bi-caret-right-fill"></i>
        </div>
        <!-- Side menu end-->





        <!-- Form to edit product start-->

        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="width-content-edit">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Product's Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container d-flex justify-content-between align-items-center modal-form-container">

                        <form action="/owner/<%= owner.id %>/inventory/<%= book.id %>/update" method="post"
                            class="d-flex flex-column" style="width: 80% !important;" enctype="multipart/form-data">
                            <div class="row py-4">
                                <div class="col-lg-6 mx-auto">

                                    <!-- Upload image input-->
                                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                        <input id="upload" type="file" onchange="readURL(this);"
                                            class="form-control border-0" style="margin: 0px;" name="image" required>
                                        <label id="upload-label" for="upload"
                                            class="font-weight-light text-muted">Choose image</label>
                                        <div class="input-group-append">
                                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                                                    class="fa fa-cloud-upload mr-2 text-muted"></i><small
                                                    class="text-uppercase font-weight-bold text-muted">Upload
                                                    image</small></label>
                                        </div>
                                    </div>

                                    <!-- Uploaded image area-->
                                    <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
                                            class="img-fluid rounded shadow-sm mx-auto d-block"></div>

                                </div>
                            </div>
                            <label class="fs-4 mb-2" for="title">Title</label>
                            <input class="form-input" type="text" name='title' id="title" value='<%= book.book_title %>'
                                required>
                            <br>
                            <label class="fs-4 mb-2" for="author">Author</label>
                            <input class="form-input" type="text" name='author' id="author" value='<%= book.author %>'
                                required>
                            <br>
                            <label class="fs-4 mb-2" for="price">Price</label>
                            <input class="form-input" type="text" name='price' id="price" value='<%= book.price %>'
                                required>
                            <br>
                            <label class="fs-4 mb-2" for="genre">Select Genre</label>
                            <select class="form-input" name="genre" id="genre" required>
                                <option value="Sci-Fi" <%=book.genre==='Sci-Fi' ? 'selected' : '' %>>Sci-Fi</option>
                                <option value="Mystery" <%=book.genre==='Mystery' ? 'selected' : '' %>>Mystery</option>
                                <option value="Horror" <%=book.genre==='Horror' ? 'selected' : '' %>>Horror</option>
                                <option value="Thriller" <%=book.genre==='Thriller' ? 'selected' : '' %>>Thriller
                                </option>
                                <option value="Fantasy" <%=book.genre==='Fantasy' ? 'selected' : '' %>>Fantasy</option>
                            </select>
                            <br>
                            <label class="fs-4 mb-2" for="description">Description</label>
                            <input class="form-input" type="text" name="description" id="description"
                                value='<%= book.description %>' required>


                            <br>
                            <label class="fs-4 mb-2" for="quantity">Quantity</label>
                            <input class="form-input" type="number" name="quantity" id="quantity"
                                value='<%= book.quantity %>' required>

                            <div class="modal-footer" id="button-edit">
                                <button type="submit" class="btn btn-primary modal-btn"
                                    data-bs-dismiss="modal"><strong>Save changes</strong></button>
                                <button type="submit" class="delete-btn"><span
                                        class="delete-btn_text">Delete</span><span class="delete-btn_icon"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
                                            </path>
                                        </svg></span></button>
                            </div>


                        </form>
                    </div>
                </div>

            </div>
        </div>

        <!-- Form to edit product end-->

        <!-- JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
</body>

</html>